{% extends "layout.html" %}
{% block body %}

<div class="block1">
<title>Flask Application</title>
    <body>
        <h1>Welcome to ECS Fargate</h1>
        <img src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=GKLUp1QDvizcuZ9z2e04i0eJY2w%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6ohh0cxw5s7auFpE798VdLSoPYES7iWDv7p4TKPym4PoTBKu38u1hHeyoDlQBmduyuQznjR5a7etztKNx3jIixJZjjYldSPxhu3DwYuYltaE51scL0AOioOC0Z0-gOPX_ra-u-YgRnNXFuqeiKf9WKcFxA2g6OGtuzS5sTC7E0pNZbmwwH9Z_DTJ5rmt84yjpWxFey97z-PzY">
    </body>
</div>
{% endblock %}
